/*
Copyright 2021-2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.inRoom {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  position: sticky;
  flex-shrink: 0;
  inset-block-start: 0;
  z-index: var(--call-view-header-footer-layer);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    var(--cpd-color-bg-canvas-default) 100%
  );
}

.header.filler {
  block-size: var(--cpd-space-6x);
  background: none;
}

.footer {
  position: sticky;
  inset-block-end: 0;
  z-index: var(--call-view-header-footer-layer);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--cpd-space-6x);
  pointer-events: none;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.footer > * {
  pointer-events: auto;
}

.footer.overlay {
  position: absolute;
  inset-inline: 0;
}

.footer.hidden {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}

.footer.hidden:has(:focus-visible) {
  opacity: 1;
  transform: translateY(0);
}

.logo {
  position: absolute;
  left: var(--cpd-space-4x);
  display: flex;
  align-items: center;
  gap: var(--cpd-space-2x);
}

.toolbar {
  display: flex;
  align-items: center;
  gap: var(--cpd-space-2x);
  background-color: var(--cpd-color-bg-subtle-secondary);
  border: 1px solid var(--cpd-color-border-interactive-secondary);
  border-radius: 999px;
  padding: var(--cpd-space-2x) var(--cpd-space-3x);
  box-shadow: var(--cpd-shadow-xl);
}

.layout {
  justify-self: end;
}

@media (max-width: 660px) {
  .logo {
    display: none;
  }

  .layout {
    display: none !important;
  }
}

@media (max-height: 800px) {
  .footer {
    padding-block: var(--cpd-space-8x);
  }
}

@media (max-height: 400px) {
  .footer {
    padding-block: var(--cpd-space-4x);
  }
}

@media (max-width: 370px) {
  .shareScreen {
    display: none;
  }

  /* PIP custom css */
  @media (max-height: 400px) {
    .shareScreen {
      display: flex;
    }
    .footer {
      padding-block-start: var(--cpd-space-3x);
      padding-block-end: var(--cpd-space-2x);
    }
  }
}

@media (max-width: 320px) {
  .invite,
  .raiseHand {
    display: none;
  }
}

@media (min-width: 800px) {
  .buttons {
    gap: var(--cpd-space-4x);
  }
}

.fixedGrid {
  position: absolute;
  inline-size: 100%;
  align-self: center;
}

.scrollingGrid {
  position: relative;
  flex-grow: 1;
  inline-size: 100%;
  align-self: center;
  overflow-y: auto;
  min-height: 0;
}

.fixedGrid,
.scrollingGrid {
  /* Disable pointer events so the overlay doesn't block interaction with
  elements behind it */
  pointer-events: none;
}

.fixedGrid > :not(:first-child),
.scrollingGrid > :not(:first-child) {
  pointer-events: initial;
}

.tile {
  position: absolute;
  inset-block-start: 0;
}

.tile.maximised {
  position: relative;
  flex-grow: 1;
}
